<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hospital</title>
  </head>

<body>
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'hospital/css/bootstrap.min.css' %}" type = "text/css"/>
<table class="table table-striped table-cream">
  <div class="patient">
        <div class="patient">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Hospital Number</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Email Address</th>
              <th scope="col">Age</th>
              <th scope="col">Gender</th>
              <th scope="col">Address</th>
              <th scope="col">Contact</th>
              <th scope="col">Room No</th>
              <th scope="col">Date</th>
            </tr>
          </thead>
    {% for patient in patient %}
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>{{ patient.Reg_No }}</td>
              <td>{{ patient.first_name }}</td>
              <td>{{ patient.Last_name }}</td>
              <td>{{ patient.Email }}</td>
              <td>{{ patient.Patient_Age }}</td>
              <td>{{ patient.Gender }}</td>
              <td>{{ patient.Patient_Address }}</td>
              <td>{{ patient.Contact }}</td>
              <td>{{ patient.Room }}</td>
              <td>{{ patient.Date }}</td>
            </tr>
  			</tbody>
  	{% endfor%} 
</body>
</table>
</html>